SPOTIFY_CLIENT_ID="example_spotify_client_id"
SPOTIFY_CLIENT_SECRET="example_spotify_client_secret"
SPOTIFY_REDIRECT_URI="http://localhost:9999/callback"
ENV=development

# Database
DATABASE_URL="postgresql://example_user:example_password@db.example.com:5432/example_database"
REDIS_URL="redis://cache.example.com:6379/0"

# RAG service
OPENAI_API_KEY="example_openai_api_key"
CHROMA_HOST="chroma.example.com"
CHROMA_PORT=9998

SECRET_KEY = "clave-secreta"
ALGORITHM = "algoritmo"
