# Entornos virtuales de Python en cualquier subcarpeta
**/__pycache__/
**/.venv/
**/*.pyc

# Node / React (Frontend)
**/node_modules/
**/dist/

# Archivos de entorno (Seguridad)
**/.env
**/.env.local

# Archivos del sistema
.DS_Store
Thumbs.db
